body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

/*Divs*/

.div {
  background-color: rgb(4, 170, 109);
  height: auto;
}

.div2 {
  margin: 1% 2%;
}

/*Botões*/

button {
  cursor:pointer;
  background: rgb(4, 170, 109);
  color: white;
  border: 10px solid rgb(4, 170, 109);
  padding: 0;
  margin-left: -4px;
}

button:hover {
  background-color: rgb(193, 183, 182);
  border: 10px solid rgb(193, 183, 182);
  cursor:pointer;
  color: white;
  padding: 0;
}

/*Inicio e Listar Pessoas*/

.inicio, .listar {
  background-color: rgb(193, 183, 182);
  border: 10px solid rgb(193, 183, 182);
  cursor:pointer;
  color: white;
  margin-right: -1px;
}

.hidratese {
  text-align: center;
}

.imgDiv {
  text-align: center;
  margin-top: -20px;
}

.hidrateseImg {
  height: 50%;
  width: 50%;
}

/*Adicionar Pessoas e Canais de Noticias*/

.adicionar-pessoas, .noticia { 
  background-color: rgb(193, 183, 182);
  border: 10px solid rgb(193, 183, 182);
  cursor:pointer;
  color: white;
  margin-left: -5px;
}

.noticia {
  background-color: rgb(193, 183, 182);
  border: 10px solid rgb(193, 183, 182);
  cursor:pointer;
  color: white;
  margin-left: -5px;
  margin-right: -1px;
}

/*Mande um Email*/

.contato {
  background-color: rgb(193, 183, 182);
  border: 10px solid rgb(193, 183, 182);
  cursor:pointer;
  color: white;
}

/*Sobre o site*/

.sobre-site { /*Para todas as paginas*/
  cursor:pointer;
  background: rgb(4, 170, 109);
  color: white;
  float: right;
  
}

.sobre-site1 { /*Especifico para a pagina sobre o site*/
  background-color: rgb(193, 183, 182);
  border: 10px solid rgb(193, 183, 182);
  cursor:pointer;
  color: white;
  float: right;
}

/*Botões das paginas de cadastro*/

#limpar, #cadastrar {
  background: rgb(76, 175, 80);
  color: white;
  border: 10px solid rgb(76, 175, 80);
}

/*Div para os Inputs*/

.input {
  margin-bottom: 3%;
  margin: 2%;
  
}

/*Configurações para os inputs*/

input {
  margin-top: -20px;
}

/*Configuração para o formulário*/

.parte1 {
  margin: 2%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

/*Configurações das tabelas*/

table {
  margin: 2%;
  border-spacing: 0px;
}

th {
  border-bottom: 1px solid gray;
  text-align: left;
}

tr:hover {
  background-color: rgb(245, 245, 245);
}

td {
  border-bottom: 1px solid gray;
  text-align: left;
  width: 10%;
}