<!DOCTYPE html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PP - by Heron</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="shortcut icon" href="/imagens/xico.ico">
</head>

<body th:style="'background:url(' + ${urlBackground} + '); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;'">
    <div class="div">
        <a href="/"><button>Início</button></a>
        <a href="/adicionarPessoa"><button class="adicionar-pessoas">Adicionar pessoa</button></a>
        <a href="/listarPessoas"><button>Listar pessoas</button></a>
        
        <a href="/contato"><button>Mande um e-Mail</button></a>
        <a href="/sobre"><button class="sobre-site">Sobre o site</button></a>
    </div>
    <div class="main">
        <h1>Formulário para cadastro de pessoas:</h1>
    </div>
    <form class="form" th:action="@{/adicionarPessoa}" action="adicionadaComSucesso.html" th:object="${pessoa}" target="_self" method="post">
        <div class="parte1">
            <p>Nome Completo *: <input placeholder="Seu nome completo" type="text" th:field="${pessoa.nome}" required></p>
            <p>Apelido *: <input style="width: 200px;" placeholder="Como será chamado no jogo" type="text" th:field="${pessoa.apelido}" required></p>
            <p>Data de Nascimento *: <input type="date"th:field="*{dataNascimento}" max="2022-01-01" required></p>
            <p>e-Mail *: <input type="email" placeholder="nome@dominio.com" th:field="*{email}" required></p>
            <div style="white-space: nowrap;">
                <label>Sexo *:</label>
            
                <label>Masculino</label><input type="radio" name="radio" th:field="*{sexo}" value="Masculino"  required>
            <label>Feminino</label><input type="radio" name="radio" th:field="*{sexo}" value="Feminino">
            <label>Não informar</label><input type="radio" name="radio" th:field="*{sexo}" value="Não informado"> 
            </div>
        </div>

        <div class="input">
            <input type="reset" value="Limpar" id="limpar"> <input type="submit" value="Cadastrar!" id="cadastrar">
            <p>* Campo obrigatório</p>
        </div>
    </form>
</body>

</html>