<!DOCTYPE html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>PWeb - by Xico Arruda</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/imagens/xico.ico">
</head>

<body th:style="'background:url(' + ${urlBackground} + '); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;'">
    <div class="div">
        <a href="/"><button>Início</button></a>
        <a href="/adicionarPessoa"><button>Adicionar pessoas</button></a>
        <a href="/listarPessoas"><button>Listar pessoas</button></a>
        
        <a href="/contato"><button>Mande um e-Mail</button></a>
        <a href="/sobre"><button class="sobre-site">Sobre o site</button></a>
    </div>
    <h1>Pessoa cadastrada com sucesso!</h1>
</body>

</html>