<!DOCTYPE html>
<html lang="pt_br">
<head>
    <title>PWeb - by Xico Arruda</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="shortcut icon" href="/imagens/xico.ico">
</head>

<body>
    <div class="div">
        <a th:href="@{/inicio}"><button>Inicio</button></a>
        <a th:href="@{/adicionarPessoa}"><button>Adicionar pessoa</button></a>
        <a th:href="@{/adicionarPessoa/listar}"><button>Listar pessoas</button></a>
        <a th:href="@{/noticias}"><button>Canais de noticia</button></a>
        <a th:href="@{/mandarEmail}"><button class="contato">Mande um e-Mail</button></a>
        <a th:href="@{/sobreSite}"><button class="sobre-site">Sobre o site</button></a>
    </div>
    <div class="div2">
        <h1><a href="mailto:heron.santos@alunos.ufersa.edu.br">Mande um e-Mail para mim!</a></h1>
    </div>
</body>

</html>