<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>PP - by Heron</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/imagens/xico.ico">
</head>

<body th:style="'background:url(' + ${urlBackground} + '); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;'">
    <div class="div">
        <a href="/"><button>Inicio</button></a>
        <a href="/adicionarPessoa"><button>Adicionar pessoa</button></a>
        <a href="/listarPessoas"><button>Listar pessoas</button></a>
        <a href="/contato"><button class="contato">Mande um e-Mail</button></a>
        <a href="/sobre"><button class="sobre-site">Sobre o site</button></a>
    </div>
    <div class="main">
        <h1><a href="mailto:heron.santos@alunos.ufersa.edu.br">Mande um e-Mail para mim!</a></h1>
    </div>
</body>

</html>