<!DOCTYPE html>
<html lang="pt_br">
<head>
    <title>PWeb - by Xico Arruda</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="shortcut icon" href="/imagens/xico.ico">
</head>

<body>
    <div class="div">
        <a th:href="@{/inicio}"><button>Início</button></a>
        <a th:href="@{/adicionarPessoa}"><button class="adicionar-pessoas">Adicionar pessoa</button></a>
        <a th:href="@{/adicionarPessoa/listar}"><button>Listar pessoas</button></a>
        <a th:href="@{/noticias}"><button>Canais de notícia</button></a>
        <a th:href="@{/mandarEmail}"><button>Mande um e-Mail</button></a>
        <a th:href="@{/sobreSite}"><button class="sobre-site">Sobre o site</button></a>
    </div>
    <div class="div2">
        <h1>Formulário para edição de pessoas:</h1>
    </div>
    <form th:action="@{/adicionarPessoa/editar/{id}(id=${pessoaSalva.id_pessoa})}" th:object="${pessoaSalva}" method="post">
        <div class="parte1">
            <p>Nome Completo *: <input placeholder="Seu nome completo" type="text"  th:value="${pessoaSalva.nome}"           th:field="*{nome}" required></p>
            <p>Data de Nascimento *: <input type="date" max="2021-01-01"            th:value="${pessoaSalva.dataNascimento}" th:field="*{dataNascimento}" required></p>
            <p>e-Mail *: <input type="text" placeholder="nome@dominio.com"          th:value="${pessoaSalva.email}"          th:field="*{email}" required></p>
            <p>Sexo *:</p>
            <p>Masculino</p><input type="radio" name="radio"    th:field="*{sexo}" value="Masculino" required>
            <p>Feminino</p><input type="radio" name="radio"     th:field="*{sexo}" value="Feminino">
            <p>Não informar</p><input type="radio" name="radio" th:field="*{sexo}" value="Não informado">
        </div>

        <div class="input">
            <input type="reset" value="Limpar" id="limpar"> <input type="submit" value="Cadastrar!" id="cadastrar">
            <p>* Campo obrigatório</p>
        </div>
    </form>
</body>

</html>