<!DOCTYPE html>
<html lang="pt_br" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--Codigo Nuclear da Russia: 816616753-->

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>PWeb - by Xico Arruda</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/imagens/xico.ico">
</head>

<body th:style="'background:url(' + ${urlBackground} + '); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;'">
    <div class="div">
        <a href="/"><button class="inicio">Início</button></a>
        <a href="/adicionarPessoa"><button>Adicionar pessoa</button></a>
        <a href="/listarPessoas"><button>Listar pessoas</button></a>
        <a href="/contato"><button>Mande um e-Mail</button></a>
        <a href="/sobre"><button class="sobre-site">Sobre o site</button></a>
    </div>

    <h1 class="hidratese main">Escolha seu jogador:</h1>

    <div>
        <table style="margin-left: auto; margin-right: auto; width: max-content; padding: 50px;">
            <tr>
                <th>Nome</th>
            </tr>
            <tr
             th:each="pessoa : ${pessoas}">
                <td><a th:href="@{/jogar/{id}(id=${pessoa.id_pessoa})}" th:text="${pessoa.nome}"></a></td>
            </tr>
        </table>
    </div>

</body>

</html>