<!DOCTYPE html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PWeb - by Xico Arruda</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    
    <div class="div">
        <a th:href="@{/inicio}"><button>Início</button></a>
        <a th:href="@{/adicionarPessoa}"><button>Adicionar pessoa</button></a>
        <a href="listarPessoas.html"><button class="listar">Listar pessoas</button></a>
        <a href="noticias.html"><button>Canais de notícia</button></a>
        <a href="contato.html"><button>Mande um e-Mail</button></a>
        <a href="sobre.html"><button class="sobre-site">Sobre o site</button></a>
    </div>
    <form th:action="@{/adicionarPessoa}" th:object="${pessoa}" method="get">
        <div class="div2">
            <h1>Lista de pessoas cadastradas:</h1>
        </div>
        <table>
            <tr class="tr1">
                <th>Nome completo</th>
                <th>Data nascimento</th>
                <th>e-Mail</th>
                <th>Sexo</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
            <tr id="tr1">
                <td>Heron</td>
                <td>27/01/2003</td>
                <td>heron11carlos@gmail.com</td>
                <td>Masculino</td>
                <td><a href="editarPessoa.html">Editar</a></td>
                <td><a href="#">Remover</a></td>
            </tr>
            <tr>
                <td>Douglas</td>
                <td>30/10/2000</td>
                <td>euSou_O_Douglas@gmail.com</td>
                <td>Masculino</td>
                <td><a href="editarPessoa.html">Editar</a></td>
                <td><a href="#">Remover</a></td>
            </tr>
            <tr>
                <td>Equiton</td>
                <td>26/03/1990</td>
                <td>kitinho_e_pika@gmail.com</td>
                <td>Feminino</td>
                <td><a href="editarPessoa.html">Editar</a></td>
                <td><a href="#">Remover</a></td>
            </tr>
            <tr th:each="pessoa : ${pessoa}">
                <td th:text="${pessoa.nome}">Texto</td>
                <td th:text="${pessoa.dataNascimento}">Texto</td>
                <td th:text="${pessoa.email}">Texto</td>
                <td th:text="${pessoa.sexo}">Texto</td>
                <td><a th:href="@{/adicionarPessoa/editar/{id}(id=${pessoa.id_pessoa})}">Editar</a></td>
                <td><a th:href="@{/adicionarPessoa/deletar/{id}(id=${pessoa.id_pessoa})}">Remover</a></td>
            </tr>
        </table>
    </form>
</body>

</html>