<!DOCTYPE html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PWeb - by Xico Arruda</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="shortcut icon" href="/imagens/xico.ico">
</head>

<body>

    <div class="div">
        <a href="/public/index.html"><button>Início</button></a>
        <a href="/adicionarPessoa"><button>Adicionar pessoa</button></a>
        <a href="/listarPessoas"><button class="listar">Listar pessoas</button></a>
        <a href="/public/noticias.html"><button>Canais de notícia</button></a>
        <a href="/public/contato.html"><button>Mande um e-Mail</button></a>
        <a href="/public/sobre.html"><button class="sobre-site">Sobre o site</button></a>
    </div>

    <div class="div2">
        <h1>Lista de pessoas cadastradas:</h1>
    </div>

    <table>

        <tr>
            <th>Nome completo</th>
            <th>Data nascimento</th>
            <th>e-Mail</th>
            <th>Sexo</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        <tr th:each="pessoa : ${pessoa}">
            <td th:text="${pessoa.nome}">Texto</td>
            <td th:text="${#dates.format(pessoa.dataNascimento, 'dd/mm/yyyy')}">Texto</td>
            <td th:text="${pessoa.email}">Texto</td>
            <td th:text="${pessoa.sexo}">Texto</td>
            <td><a th:href="@{/adicionarPessoa/editar/{id}(id=${pessoa.id_pessoa})}">Editar</a></td>
            <td>
                <form th:action="@{/adicionarPessoa/deletar/{id}(id=${pessoa.id_pessoa})}" th:method="delete">
                    <a href=""><button type="submit" id="remover">Remover</button></a>
                </form>
            </td>

        </tr>
    </table>

</body>

</html>