<!DOCTYPE html>
<html lang="pt_br">

<head>
    <title>PWeb - by Xico Arruda</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="shortcut icon" href="/imagens/xico.ico">
</head>

<body>
    <div class="div">
        <a th:href="@{/inicio}"><button>Início</button></a>
        <a th:href="@{/adicionarPessoa}"><button>Adicionar pessoa</button></a>
        <a th:href="@{/adicionarPessoa/listar}"><button>Listar pessoas</button></a>
        <a th:href="@{/noticias}"><button class="noticia">Canais de notícia</button></a>
        <a th:href="@{/mandarEmail}"><button>Mande um e-Mail</button></a>
        <a th:href="@{/sobreSite}"><button class="sobre-site">Sobre o site</button></a>
    </div>
    <div class="div2">
        <h1>Catalogo de notícias</h1>
        <h2>Veja as notícias no G1:</h2>
        <a href="https://g1.goblo.com">https://g1.globo.com</a>
        <h2>Veja as notícias no CNN:</h2>
        <a href="https://www.cnnbrasil.com.br">https://www.cnnbrasil.com.br</a>
    </div>
</body>

</html>