<!DOCTYPE html>
<html lang="pt_br">

<head>
    <title>PWeb - by Xico Arruda</title>
    <link rel="stylesheet" href="@{/style.css}">
</head>

<body>
    <div class="div">
        <a href="index.html"><button>Início</button></a>
        <a href="adicionarPessoa.html"><button>Adicionar pessoa</button></a>
        <a href="listarPessoas.html"><button>Listar pessoas</button></a>
        <a href="noticias.html"><button class="noticia">Canais de notícia</button></a>
        <a href="contato.html"><button>Mande um e-Mail</button></a>
        <a href="sobre.html"><button class="sobre-site">Sobre o site</button></a>
    </div>
    <div class="div2">
        <h1>Catalogo de notícias</h1>
        <h2>Veja as notícias no G1:</h2>
        <a href="https://g1.goblo.com">https://g1.globo.com</a>
        <h2>Veja as notícias no CNN:</h2>
        <a href="https://www.cnnbrasil.com.br">https://www.cnnbrasil.com.br</a>
    </div>
</body>

</html>