<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>PP - by Heron</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/imagens/xico.ico">
</head>

<body th:style="'background:url(' + ${urlBackground} + '); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;'">
    <div class="div">
        <a href="/"><button>Início</button></a>
        <a href="/adicionarPessoa"><button>Adicionar pessoa</button></a>
        <a href="/listarPessoas"><button>Listar pessoas</button></a>
        
        <a href="/contato"><button>Mande um e-Mail</button></a>
        <a href="/sobre"><button class="sobre-site1">Sobre o site</button></a>
    </div>
    <div class="main"><h1>Esse site é sobre a disciplina Paradigmas de Programação 2023.1 da UFERSA Angicos! Este site foi desenvolvido para ser um jogo de RPG onde você pode interagir com as escolhas.</h1></div>

</body>

</html>