<!DOCTYPE html>
<html lang="pt_br">

<head>
    <title>PWeb - by Xico Arruda</title>
    <link rel="stylesheet" href="@{/style.css}">
</head>

<body>
    <div class="div">
        <a href="index.html"><button>Início</button></a>
        <a href="adicionarPessoa.html"><button>Adicionar pessoa</button></a>
        <a href="listarPessoas.html"><button>Listar pessoas</button></a>
        <a href="noticias.html"><button>Canais de notícia</button></a>
        <a href="contato.html"><button>Mande um e-Mail</button></a>
        <a href="sobre.html"><button class="sobre-site1">Sobre o site</button></a>
    </div>
    <div class="div2"><h1>Esse site é sobre a disciplina Programação Web 2021.2 da UFERSA Angicos!</h1></div>

</body>

</html>