<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docitos & Docitos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body id="meuBody">
    <div class="divMain">
        <nav class="navMain">
            <div class="divMain2">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/clientes">Clientes</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/produtos">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/cadastrar">Cadastrar-se</a>
                    </li>
                    <li class="nav-item">
                        <a href="/sobre">Sobre</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="listarProdutos">
        <div style="text-align: center;">
            <h1>Listar Produtos</h1>
        </div>
        <table class="table produtos">
            <thead>
                <tr>
                    <th class="th">Nome</th>
                    <th class="th">Marca</th>
                    <th class="th">Altura</th>
                    <th class="th">Largura</th>
                    <th class="th">Profundidade</th>
                    <th class="th">Volume</th>
                    <th class="th">Peso</th>
                    <th class="th">Preço</th>
                    <th class="th lastColumn">Data Cadastrado</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prod : ${produtos}">
                    <td class="th" th:text="${prod.nomeProduto}"></td>
                    <td class="th" th:text="${prod.marca}"></td>
                    <td class="th" th:inline="text">[[${prod.altura}]] cm</td>
                    <td class="th" th:inline="text">[[${prod.largura}]] cm</td>
                    <td class="th" th:inline="text">[[${prod.profundidade}]] cm</td>
                    <td class="th" th:inline="text">[[${prod.volume}]] cm³</td>
                    <td class="th" th:inline="text">[[${prod.peso}]] g</td>
                    <td class="th" th:inline="text">R$ [[${prod.precoVenda}]]</td>
                    <td class="th lastColumn" th:text="${prod.dataCadastro}"></td>
                    <td class="th lastColumn">
                        <form th:action="@{/produtos/delete/{id}(id=${prod.id})}" th:method="delete">
                            <a href=""><button type="submit" id="remover">X</button></a>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="butao" id="divCadastrarNovo"><input type="button" class="btn btn-secondary" onclick="paginaCadastrar()"
            value="Cadastrar Novo Produto"></div>
    <form th:action="@{/produtos/cadastrar}" th:method="post" th:object="${produto}">
        <div class="divCadastrarProd" id="divCadastrarProd" style="display: none;">

            <div class="produto cadastrarLabel">
                <h2>Cadastrar Produtos</h2>
            </div>
            <div class="cadastrarProd nome">
                <label>
                    <h3>Nome do Produto:* </h3>
                </label>
                <input type="text" placeholder="Bolo de Chocolate Corb/ Chocolate" th:field="*{nomeProduto}"
                    style="width: 300px;">
            </div>
            <div class="cadastrarProd marca">
                <label>
                    <h3>Marca:* </h3>
                </label>
                <input type="text" placeholder="Panificadora Dois Irmãos" th:field="*{marca}">
            </div>
            <div class="cadastrarProd altura">
                <label>
                    <h3>Altura (Centimetros): </h3>
                </label>
                <input type="text" th:field="*{altura}" th:value="2.20">
            </div>
            <div class="cadastrarProd lagura">
                <label>
                    <h3>Largura (Centimetros): </h3>
                </label>
                <input type="text" placeholder="2.20" th:field="*{largura}">
            </div>
            <div style="display:inline-block; width: 900px;">
                <div class="cadastrarProd profundidade">
                    <label>
                        <h3>Profundidade (Centimetros): </h3>
                    </label>
                    <input type="text" placeholder="2.20" th:field="*{profundidade}">
                </div>
                <div class="cadastrarProd peso">
                    <label>
                        <h3>Peso (Quilos): </h3>
                    </label>
                    <input type="text" placeholder="90.0" th:field="*{peso}">
                </div>
                <div class="cadastrarProd precoVenda">
                    <label>
                        <h3>Preço de Venda:* </h3>
                    </label>
                    <input type="text" value="54.99" th:field="*{precoVenda}">
                </div>
                <div class="cadastrarProd precoCompra">
                    <label>
                        <h3>Preço de Compra:* </h3>
                    </label>
                    <input type="text" placeholder="54.99" th:field="*{precoCompra}">
                </div>
                <div class="cadastrarProd linkImg">
                    <label>
                        <h3>Link da imagem do Produto:* </h3>
                    </label>
                    <input type="text" th:field="*{linkImg}">
                </div>
                <div class="form-cadastrar botoes">
                    <input type="button" onclick="cancelar()" id="btnCancelar" class="btn btn-secondary"
                        value="Cancelar">
                    <button type="submit" class="btn btn-secondary" value="Cadastrar">Cadastrar</button>
                </div>
            </div>
            <div class="form-cadastrar avisos aviso-prod">
                <label>
                    <h5>Aviso: Seu CPF não será publico.</h5>
                </label><br>
                <label>
                    <h5>* Informação Obrigatória.</h5>
                </label>
            </div>
        </div>
    </form>

    <script>
        function paginaCadastrar() {
            if (document.getElementById('divCadastrarProd').style.display == 'none') {
                document.getElementById('listarProdutos').style.display = 'none';
                document.getElementById('divCadastrarNovo').style.display = 'none';
                document.getElementById('divCadastrarProd').style.display = 'block';
            }
        }

        function cancelar() {
            if (document.getElementById('divCadastrarProd').style.display == 'block') {
                document.getElementById('divCadastrarProd').style.display = 'none';
                document.getElementById('listarProdutos').style.display = 'block'
                document.getElementById('divCadastrarNovo').style.display = 'block';
            }
        }

        var btn = document.getElementsByClassName('nav-item');

        btn[0].addEventListener('mouseover', function () {
            btn[0].style.marginLeft = '0%'
            btn[0].style.marginRight = '10%'
            document.getElementsByClassName('active')[0].style.marginRight = '0%';
            document.getElementsByClassName('active')[0].style.marginLeft = '0%';
        });
        btn[0].addEventListener('mouseout', function () {
            btn[0].style.margin = '0%';
            document.getElementsByClassName('active')[0].style.marginRight = '5%';
            document.getElementsByClassName('active')[0].style.marginLeft = '5%';
        });

        btn[1].addEventListener('mouseover', function () {
            btn[1].style.marginLeft = '5%'
            btn[1].style.marginRight = '10%'
            document.getElementsByClassName('active')[0].style.marginRight = '0%';
            document.getElementsByClassName('active')[0].style.marginLeft = '5%';
        });
        btn[1].addEventListener('mouseout', function () {
            btn[1].style.margin = '0%';
            document.getElementsByClassName('active')[0].style.marginRight = '5%';
            document.getElementsByClassName('active')[0].style.marginLeft = '5%';
        });

        //
        btn[3].addEventListener('mouseover', function () {
            btn[3].style.marginLeft = '10%'
            btn[3].style.marginRight = '5%'
            document.getElementsByClassName('active')[0].style.marginRight = '5%';
            document.getElementsByClassName('active')[0].style.marginLeft = '0%';
        });
        btn[3].addEventListener('mouseout', function () {
            btn[3].style.margin = '0%';
            document.getElementsByClassName('active')[0].style.marginRight = '5%';
            document.getElementsByClassName('active')[0].style.marginLeft = '5%';
        });

        //
        btn[4].addEventListener('mouseover', function () {
            btn[4].style.marginLeft = '15%'
            btn[4].style.marginRight = '5%'
            document.getElementsByClassName('active')[0].style.marginRight = '0%';
            document.getElementsByClassName('active')[0].style.marginLeft = '0%';
        });
        btn[4].addEventListener('mouseout', function () {
            btn[4].style.margin = '0%';
            document.getElementsByClassName('active')[0].style.marginRight = '5%';
            document.getElementsByClassName('active')[0].style.marginLeft = '5%';
        });

        //
        btn[5].addEventListener('mouseover', function () {
            btn[5].style.marginLeft = '15%'
            btn[5].style.marginRight = '5%'
            document.getElementsByClassName('active')[0].style.marginRight = '0%';
            document.getElementsByClassName('active')[0].style.marginLeft = '0%';
        });
        btn[5].addEventListener('mouseout', function () {
            btn[5].style.margin = '0%';
            document.getElementsByClassName('active')[0].style.marginRight = '5%';
            document.getElementsByClassName('active')[0].style.marginLeft = '5%';
        });
    </script>
</body>

</html>